.cart-wrapper {
    display: flex;
    background: #ffffff;
    width: 600px;
    height: 100dvh;
    position: sticky;
    top: 0;
    left: 0;
    border-left: 3px solid #ff8000;
    box-shadow: -4px 0 4px rgba(255,128,0,0.5);
    .cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 16px;
        h2 {
            margin-bottom: 16px;
        }
        .cart-content {
            display: flex;
            flex-direction: column;
            gap: 16px;
            height: auto;
            min-height: 100px;
            width: 100%;
            table {
                width: 100%;
                font-size: 16px;
                button {
                        width: 24px;
                        height: 24px;
                        font-size: 16px;
                        color: #ff8000;
                        background: transparent;
                        border: none;
                        cursor: pointer;
                }
                .amount-col {
                    width: 16px;
                    text-align: right;
                }
                .mul-col {
                    width: 16px;
                }
                .total {
                    margin-top: 16px;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
        .order-btn {
            width: 100%;
            height: 50px;
            margin-top: 32px;
            border-radius: 16px;
            border: none;
        }
        .order-ready {
            color: #ffffff;
            background: #ff8000;
            cursor: pointer;
            font-weight: bold;
        }
    }
}
@media (max-width: 1100px) {
    .cart-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.overlay {
    display: flex;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .summary {
        position: sticky;
        width: 300px;
        height: 400px;
        left: calc(50% - 150px);
        top: calc(60dvh - 200px);
        background: #ffffff;
        border: 1px solid #ff8000;
        border-radius: 32px;
        font-size: 16px;
        padding: 16px;
        table {
            width: 100%;
            .total {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

.cart-btn {
    display: none;
    width: 100%;
    height: 100px;
    margin: 32px 0;
    background: #ff8000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 16px;
    font-size: 24px;
}
@media (max-width: 1100px) {
    .cart-btn {
        display: block;
    }
}

.value {
    width: 80px;
    text-align: right;
}
.flex-col {
    flex: 1;
}