.shelf {
    padding: 16px 0;
    header {
        background: transparent;
        display: block;
        color: #ff8000;
        height: auto;
        h2 {
            margin-bottom: 8px;
        }
        img {
            width: 100%;
            height: 150px;
        }
        @media (max-width: 700px) {
            img {
                height: 50px;
            }
        }
    }
    .dish-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
        .dish-card {
            display: flex;
            width: 100%;
            height: 100%;
            gap: 16px;
            min-height: 150px;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 8px;
            padding: 16px 32px;
            .dish-img-wrapper {
                display: flex;
                align-items: center;
                .dish-img {
                    width: 200px;
                    height: 150px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 8px;
                }
                .rest-img {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    left: -25px;
                }
                @media (max-width: 700px) {
                    .dish-img {
                        width: 100px;
                        height: 75px;
                    }
                    .rest-img {
                        width: 25px;
                        height: 25px;
                        left: -12px;
                    }
                }
            }
            .dish-desc {
                flex: 1;
                padding-right: 40px;
                h3{
                    margin-bottom: 8px;
                }
                h4 {
                    margin-top: 4px;
                }
                .price {
                    color: #ff8000;
                    font-weight: bold;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                .add-btn {
                    width: 32px;
                    height: 32px;
                    position: absolute;
                    right: 0;
                    top: 59px;
                    color: #ff8000;
                    font-size: 24px;
                    border: 1px solid rgba(0,0,0,0.2);
                    cursor: pointer;
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .shelf {
        .dish-wrapper {
            .dish-card {
                flex-direction: column;
                min-height: 300px;
                align-items: center;
                .dish-desc {
                    display: flex;
                    width: 288px;
                    flex-direction: column;
                    align-items: center;
                    text-align: left;
                    h3, h4, .desc {
                        text-align: left;
                        align-self: flex-start
                    }
                    .price {
                        right: -16px;
                    }
                    .add-btn {
                        top: auto;
                        right: auto;
                        bottom: 0;
                        justify-self: flex-end;
                    }
                }
                @media (max-width: 450px) {
                    .dish-desc {
                        width: 200px;
                    }
                }
            }
        }
    }
}