* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    position: relative;
}

html {
    font-size: 10px;
}


header, footer, main {
    display: flex;
    justify-content: center;
    .content {
        width: 100%;
        max-width: 1920px;
        padding: 0 clamp(16px, 11dvw, 160px);
    }
}

header, footer {
    background: #ff8000;
    height: 100%;
    height: 10dvh;
}

header{
    .content {
        display: flex;
        height: 100%;
        justify-content: space-between;
        img{
            height: 100%
        }
        nav {
            display: flex;
            height: 100%;
            align-items: center;
            ul {
                display: flex;
                gap: 16px;
                button {
                    padding: 8px;
                    border-radius: 8px;
                    border: 1px solid #ff8000;
                    background: #ffffff;
                    color: #ff8000;
                }
                button:hover {
                    border-color: #ffffff;
                    background: #ff8000;
                    color: #ffffff;
                }
            }
        }
    }
}

main {
    min-height: 80dvh;
    .content {
        display: flex;
        justify-content: center;
    }
}